<div class="container px-5 px-sm-0">
  <% if @new_book.errors.any? %>
    <h3>
      <%= @new_book.errors.count %> errors prohibited this obj from being saved:
    </h3>
    <ul>
      <% @new_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user_info', user: current_user %>

      <div class="row">
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>

      <%= render 'books/new_book', new_book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'books/book_list', books: @books %>
    </div>
  </div>
</div>